h5 {
  display: inline-block;
  padding: 10px;
  background: #B9121B;
  border-top-left-radius: 10px;
  border-top-right-radius: 50px;
}

.p {
  text-align: center;
  padding-top: 10px;
  font-size: 10px;
}

.background_schedule {
  background: #000;
  width: 100%;
}

.section_schedule {
  height: 100%;
}

.schedule {
  z-index: 1;
  position: absolute;
  background: #000;
  border-radius: 30px;
  margin-top: 120px;
  padding: 20px;
}